<div class="row">
  <div class="span6 offset3">
    <%= form_for @word do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :content, placeholder: "Word" %>

      <%= f.text_area :meaning, placeholder: "Meaning" %>

      <%= f.hidden_field :category_id, value: @category.id %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>